*{
    box-sizing: border-box;
}

body{
    background-color: dimgrey;
}

#header{
    background-color: lightgray;
    margin: 5px;
    padding: 50px;
    text-align: center;
}

#nav_section{
    background-color: lightgray;
    margin: 5px;
    padding: 50px;
    text-align: center;
}

#section{
    float: left;
    background-color: lightgray;
    text-align: center;
    margin: 6px;
    width: 49%;
    height: 370px;
    padding: 10px;
}
#article{
    background-color: dimgray;
    color: white;
    text-align: center;
    height: 40%;
    width:46%;
    padding: 5px;
    position: fixed;
    bottom:114px;
}
#article_headers{
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: 4px;
    margin: 4px auto;
    position: relative;
    bottom: 3px;
}
#article_paragraph{
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: 27px;
    margin: 4px auto;
    position: relative;
}
#aside_right{
    float:right;
    background-color: lightgray;
    text-align: center;
    width: 45%;
    height: 370px;
    margin: 4px;
}

footer{
    position: fixed;
    bottom: 5px;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 5px 650px 5px 650px;   
}
h1{
    color: black;
    text-align: center;    
}
h2{
    color: black;
    text-align: center;    
}
h3{
    color: black;
    text-align: center;    
}